<div class="container">
  <div class="row">
  	<%= render "g/user_card"%>
    <div class="col-sm-8 offset-sm-2">
    	<%= render "g/poster" %>
    	<%= link_to "TO INDEX",root_path %>
    </div>
  </div>
</div>