<div class="alert alert-info alert-dismissible fade show" role="alert" style="z-index: 1000; position: relative;">
  <%= notice %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>